* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.calculator__container {

}
._container {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator__body {
    margin: 30% 0;
}
.calculator__weight {
    padding: 20px;
}
.weight {
}
.weight__input {
}
.input-weight {
}
.height__input {
}
.input-height {
}
.button {
}
.calculator__result {
}
.result {
}
.result__numbers {
}
.result__text {
}